<section id="about" class="full-page py-5">
  <!-- <div class="container">
    <h2 class="text-center mb-4">About Me</h2>
    <div class="lead">
      <p>
        Hi, I'm <span class="text-primary">Pai</span>, a passionate software
        developer with 8 years of experience. My main focus is web development
        using <span class="text-primary">C# .NET</span> and
        <span class="text-primary">Angular</span>. I have a strong background in
        designing and developing robust, scalable, and secure web applications.
        I am constantly exploring new technologies and keeping up with the
        latest industry trends to deliver high-quality solutions to my clients.
      </p>
      <p>
        Throughout my career, I have successfully delivered various projects,
        working closely with cross-functional teams to ensure the best user
        experience and optimal performance. I am experienced in building
        responsive and accessible web interfaces, implementing RESTful APIs, and
        integrating third-party services.
      </p>
      <p>
        My technical skills include <span class="text-primary">HTML</span>,
        <span class="text-primary">CSS</span>,
        <span class="text-primary">JavaScript</span>,
        <span class="text-primary">C#</span>,
        <span class="text-primary">ASP.NET</span>,
        <span class="text-primary">SQL</span>,
        <span class="text-primary">Angular</span>, and
        <span class="text-primary">Git</span>. I enjoy solving complex problems
        and continuously strive to improve my coding practices and stay updated
        with emerging technologies.
      </p>
      <p>
        Besides coding, I have a keen interest in learning about new domains and
        understanding user needs. I believe that effective communication and
        collaboration are key to delivering successful projects.
      </p>
      <p>
        When I'm not coding, you can find me exploring the latest tech gadgets,
        reading tech blogs, or enjoying outdoor activities like hiking and
        cycling.
      </p>
      <p>
        I'm passionate about leveraging my skills and expertise to create
        impactful and innovative software solutions. If you're looking for a
        dedicated and experienced developer, feel free to get in touch with me.
        I would love to discuss how I can contribute to your projects.
      </p>
    </div>
  </div> -->

   <!-- ======= About Section ======= -->
   <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="assets/img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Morgan Freeman</span></p>
                      <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                      <p><span class="title-s">Email: </span> <span>contact@example.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>(617) 557-0089</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>HTML</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>CSS3</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>PHP</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id
                    imperdiet et, porttitor
                    at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Nulla
                    porttitor accumsan tincidunt.
                  </p>
                  <p class="lead">
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                    porttitor volutpat. Vestibulum
                    ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor at sem.
                  </p>
                  <p class="lead">
                    Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                    Nulla porttitor accumsan
                    tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

</section>
