<section id="about" class="full-page py-5">
  <div class="container">
    <h2 class="text-center mb-4">About Me</h2>
    <div class="lead">
      <p>
        Hi, I'm <span class="text-primary">Pai</span>, a passionate software
        developer with 8 years of experience. My main focus is web development
        using <span class="text-primary">C# .NET</span> and
        <span class="text-primary">Angular</span>. I have a strong background in
        designing and developing robust, scalable, and secure web applications.
        I am constantly exploring new technologies and keeping up with the
        latest industry trends to deliver high-quality solutions to my clients.
      </p>
      <p>
        Throughout my career, I have successfully delivered various projects,
        working closely with cross-functional teams to ensure the best user
        experience and optimal performance. I am experienced in building
        responsive and accessible web interfaces, implementing RESTful APIs, and
        integrating third-party services.
      </p>
      <p>
        My technical skills include <span class="text-primary">HTML</span>,
        <span class="text-primary">CSS</span>,
        <span class="text-primary">JavaScript</span>,
        <span class="text-primary">C#</span>,
        <span class="text-primary">ASP.NET</span>,
        <span class="text-primary">SQL</span>,
        <span class="text-primary">Angular</span>, and
        <span class="text-primary">Git</span>. I enjoy solving complex problems
        and continuously strive to improve my coding practices and stay updated
        with emerging technologies.
      </p>
      <p>
        Besides coding, I have a keen interest in learning about new domains and
        understanding user needs. I believe that effective communication and
        collaboration are key to delivering successful projects.
      </p>
      <p>
        When I'm not coding, you can find me exploring the latest tech gadgets,
        reading tech blogs, or enjoying outdoor activities like hiking and
        cycling.
      </p>
      <p>
        I'm passionate about leveraging my skills and expertise to create
        impactful and innovative software solutions. If you're looking for a
        dedicated and experienced developer, feel free to get in touch with me.
        I would love to discuss how I can contribute to your projects.
      </p>
    </div>
  </div>
</section>
