<!-- ======= Contact Section ======= -->
<section id="contact" class="contact page-60 mt-5">
  <div class="container">
    <div class="section-title">
      <h2>Contact</h2>
      <p class="lead">
        If you're interested in creating something great, feel free to reach out
        to me. I'd be happy to collaborate!
      </p>
    </div>
    <div>
      <button class="pbutton" style="margin-right: 10px" [routerLink]="['book']">Book A Call</button>

      <button class="pbutton">
        <a
          class="text-decoration-none"
          style="color: white"
          href="mailto:pai.nuneza@gmail.com?;"
          >Send An Email</a
        >
      </button>
    </div>
  </div>
</section>
