@media (max-width: 768px) {
  .calendly-inline-widget {
    min-width: 100% !important;
    height: 600px !important;
  }
}

@media (max-width: 576px) {
  .calendly-inline-widget {
    height: 500px !important;
  }
}