<!-- ======= Contact Section ======= -->
<section id="contact" class="contact page-60 mt-5">
  <div class="container">
    <div class="section-title">
      <h2>Book A Call</h2>
      <p class="lead">
        If you're interested in creating something great, feel free to reach out
        to me. I'd be happy to collaborate!
      </p>
    </div>
    <div>
      <div
        class="calendly-inline-widget"
        data-url="https://calendly.com/pai-nuneza/30min?hide_gdpr_banner=1"
        style="min-width: 320px; height: 700px"
      ></div>
    </div>
  </div>
</section>
