.box {
    display: flex;
    align-items: center;
}

.icon {
    flex-shrink: 0;
    /* Prevent icon from shrinking */
    margin-right: 10px;
    /* Adjust the spacing between the icon and content */
}

.content {
    flex-grow: 1;
    /* Allow content to grow and occupy remaining space */
}
.service-row {
    padding:10px;
}
.service-row:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}