#home {
  min-height: 100vh;
}

#home-name {
  font-weight: 800;
  line-height: 1em;
  font-size: 80px;
  color: #fff;
}

#home-position {
  font-size: 30px;
}

#home-typing {
  font-size: 20px;
  padding-left: 5px;
}

#home-typing::after {
  /* Hide the blinking cursor */
  content: none;
}

.home-img img {
  max-width: 450px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
}

.social-media a:hover i {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  color: #f8f9fa;
}

.left-column {
  overflow-y: auto;
  height: 100vh;
}

.right-column {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  overflow-y: auto;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.nav-link {
  margin-left: 15px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-nav a:hover {
  color: red !important;
}

.container-fluid {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.container-fluid.show {
  opacity: 1;
}

.landing-header {
  font-size: 50px;
  font-weight: 700;
}

.landing-name {
  font-size: 30px;
}

.code-background {
  background: url("/assets/images/technologies/code-small.jpg");
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-repeat: no-repeat;
  background-size: cover;
}




@media (max-width: 768px) {
  .background-svg  {
    background-size: contain;
  }
}


.animate-charcter
{

  background-image: linear-gradient(
    -225deg,
    #8ab6d7 0%,
    #82d8a2 29%,
    #ff8e99 67%,
    #9bcc7b 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
