#home {
  min-height: 50vh;
  background-size: cover;
  background-repeat: repeat;
  background-size: cover;
  /* Fallback color */
  overflow: hidden;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%2300cba9" fill-opacity="0.4" d="M0,256L48,256C96,256,192,256,288,234.7C384,213,480,171,576,170.7C672,171,768,213,864,202.7C960,192,1056,128,1152,101.3C1248,75,1344,85,1392,90.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>');
}

#home-name {
  font-weight: 800;
  line-height: 1em;
  font-size: 80px;
  color: #fff;
}

#home-position {
  font-size: 30px;
}

#home-typing {
  font-size: 20px;
  padding-left: 5px;
}

#home-typing::after {
  /* Hide the blinking cursor */
  content: none;
}

.home-img img {
  max-width: 450px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
}

.social-media a:hover i {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  color: #f8f9fa;
}

.left-column {
  overflow-y: auto;
  height: 100vh;
}

.right-column {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  overflow-y: auto;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.nav-link {
  margin-left: 15px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-nav a:hover {
  color: red !important;
}

.container-fluid {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.container-fluid.show {
  opacity: 1;
}

.landing-header {
  font-size: 40px;
  font-weight: 700;
}

.landing-name {
  font-size: 30px;
}


@media (max-width: 768px) {
  .background-svg {
    background-size: contain;
  }
}

.animate-charcter {
  background-image: linear-gradient(-235deg,
      #8ab6d7 0%,
      #82d8a2 29%,
      #d8525f 67%,
      #9bcc7b 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

swiper-slide img {
  display: block;
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

.area {
  width: 200px;
  transform-origin: top;
  -moz-transform-origin: top;
  -webkit-transform-origin: top;
}

.wire {
  position: relative;
  left: 98px;
  height: 0px;
  width: 4px;
  background-color: black;
}

.fixture {
  position: relative;
  background-color: grey;
  width: 16px;
  height: 20px;
  left: 92px;
}

.strip {
  position: relative;
  width: 18px;
  height: 2px;
  right: 1px;
  top: 4px;
  background-color: darkgrey;
}

.bulb {
  position: relative;
  width: 40px;
  height: 40px;
  left: 80px;
  bottom: 2px;
  z-index: -1;
  background-color: rgba(226, 211, 161, 0.85);
  border-radius: 50%;
  animation: shadowTransition 7s infinite alternate;
}

@keyframes shadowTransition {
  0% {
    box-shadow: 0px 0px 300px 77px rgba(100, 100, 100, 1);
  }

  100% {
    box-shadow: 0px 0px 300px 77px rgb(241, 238, 232);
  }
}