<section id="home" class="d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Hello, It's Me</h3>
        <p id="home-name">Pai Nuñeza</p>
        <p class="lead">Fullstack .NET/Angular Developer</p>
        <div>
          <div id="typedjs" style="height: 30px; width: 330px; background-color: #b30a0a">
            <ngx-typed-js [strings]="strings" [loop]="true" [typeSpeed]="10" [shuffle]="true">
              <p id="home-typing" class="typing"></p>
            </ngx-typed-js>
          </div>
        </div>
        <div style="margin-top: 50px"></div>
        <div class="social-media">
          <a href="#" class="text-decoration-none me-2"><i class="bx bxl-linkedin-square fs-4 text-light"></i></a>
          <a href="#" class="text-decoration-none me-2"><i class="bx bxl-facebook-square fs-4 text-light"></i></a>
          <a href="#" class="text-decoration-none"><i class="bx bxl-github fs-4 text-light"></i></a>
        </div>
        <a href="#" class="btn btn-outline-info mt-3">Download CV</a>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="home-img">
          <img
            src="https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/activities-fun/10-great-small-dog-breeds/maltese-portrait.jpg"
            jsaction="VQAsE"
            class="r48jcc pT0Scc iPVvYb"
            style="max-width: 100%; height: auto; margin: 0px;"
            alt="Top 10 Best Small Dog Breeds | Nylabone"
            jsname="kn3ccd"
            aria-hidden="false"
          >
        </div>


      </div>
    </div>
  </div>
</section>

