:root {
  font-size: 20px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}


.card {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}

.glassy-effect {
  background: linear-gradient(to top, rgb(255 255 255 / 12%), rgb(200 200 200 / 12%));
}

.glassy-effect:hover {
  background: linear-gradient(to top, rgb(255 255 255 / 12%), rgb(200 200 200 / 12%));
}
