<section id="experience" class="page-85 py-5">
  <div class="container">
    <div class="section-title">
      <h2>Work History</h2>
    </div>

    <div class="row" *ngFor="let a of experiences; let i = index">
      <div class="col my-2">
        <div class="card border-0 bg-transparent cardHolder">
          <div class="card-body border rounded">
            <h5 class="blue-color t-shadow"><b>{{ a.position }}</b></h5>
            <div>{{a.company}}</div>
            <div>{{a.date}}</div>
            <!-- <div class="my-2" >{{ a.description  }}</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>