<nav class="backdrop-blur-md py-3 glassy">
  <div class="container mx-auto flex items-center justify-between px-4">
    <div class="flex items-center">
      <img class="rounded" width="35" src="assets/images/icons/apple-icon.png" alt="Logo" />
      <a class="text-xl font-semibol0d ml-3" href="#">Pai Nuñeza</a>
    </div>
    <div>

    </div>
    <button class="text-white focus:outline-none lg:hidden" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="block w-6 h-1 bg-white mb-1"></span>
      <span class="block w-6 h-1 bg-white mb-1"></span>
      <span class="block w-6 h-1 bg-white"></span>
    </button>
    <div class="lg:flex lg:items-center lg:space-x-6 hidden" id="navbarNav">
      <ul class="flex space-x-6">
        <li>
          <a class="hover:text-gray-400" href="#about">About</a>
        </li>
        <li>
          <a class="hover:text-gray-400" routerLink="/experience">Work History</a>
        </li>
        <li>
          <a class="hover:text-gray-400" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>



<footer class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Information</h3>
        <p>Pai Nuñeza</p>
        <p>Email: pai.nuneza&#64;gmail.com</p>
        <p>Phone: +63 908 634 5307</p>
      </div>

      <div class="col-md-4">
        <h3>Connect with Me</h3>
        <ul class="list-unstyled">
          <li>pai.nuneza&#64;gmail.com</li>
          <li>+63 908 634 5307</li>
        </ul>
      </div>
    </div>
  </div>
</footer>