.left-column {
  overflow-y: auto;
  height: 100vh;
}

.right-column {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  overflow-y: auto;
}

.logo {
  font-size:25px;
  color: #fff;
  text-decoration:none;
  font-weight:600;
  cursor:default;
}

.nav-link {
  margin-left:15px;
  font-size:18px;
  text-decoration:none;
  font-weight:500;
  transition: .3s;
}

.navbar-nav a:hover {
  color:red !important;
}
