<section id="about" class="full-page">
  <div class="container">
    <h2 class="text-center mb-4">About</h2>
    <p class="lead">
      {{ aboutMe }}
    </p>
    <hr />
    <p class="lead">
      {{ coreExpertise }}
    </p>
    <hr />
    <p class="lead">
      {{ outsideProfessionalWorld }}
    </p>
    <hr />
    <p class="lead">
      {{ digitalRealm }}
    </p>
    <hr />
    <p class="lead">
      {{ music }}
    </p>
    <hr />
    <p class="lead">
      {{ parenting }}
    </p>
    <hr />
    <p class="lead">
      {{ end }}
    </p>
  </div>
</section>
