.myimage {
  width: 330px;
}

.image-cover {
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;

  /* Add border styles */
  border: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow effect */
}

.caro-image {
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.4);
}
