<section id="about" class="about glassy page-60 py-5 background-svg-2" >
  <div class="container" >
    <div class="section-title">
      <h2>About</h2>
    </div>

    <div class="row mb-3" data-aos="fade-up">
      <div class="col-lg-4">
        <div class="d-flex justify-content-center align-items-center">
          <img
            src="assets/pai/Pai-removebg.png"
            class="rounded d-block w-100 mx-auto"
            alt="..."

            style="border-radius: 80% !important"
          />
        </div>
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h1 class="t-shadow">Hello there!</h1>
        <h3 class="my-4 t-shadow">
          I'm a <span class="green-color"><b>Filipino</b></span> fullstack
          developer based in the Philippines
        </h3>
        <div class="lead t-justify border rounded p-3">
          <p>
            A skilled software developer specializing in creating high-quality
            software solutions that exceed expectations. I have a passion for
            crafting exceptional code and delivering exceptional results. In
            addition to my professional endeavors, I find solace and personal
            growth in exploring nature through activities like camping, hiking,
            and appreciating the beauty of our planet
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
