<section id="about" class="about page-60">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>
    </div>

    <div class="row mb-3">
      <div class="col-lg-4">
        <div class="d-flex justify-content-lg-start"> <!-- Added justify-content-lg-start and justify-content-center classes -->
          <img src="assets/painuneza.jpg" class="img-fluid shadow rounded myimage mx-auto" alt=""> <!-- Added mx-auto class -->
        </div>
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" style="font-size:17px;">
        <p class="mb-4">
          {{shortAboutMe}}
        </p>
        <hr>
        <p>
          {{outsideProfessionalWorld}}
        </p>

      </div>
    </div>
  </div>
</section>

