
.about-image {
  width: 70%;
  border-radius: 10% !important;
  max-width:100%;
}

@media all and (max-width: 480px) {
  .about-image {
    width:80%;
    height:50%;
    border-radius: 0% !important;
  }
}
