<section id="projects" class="page-60 py-5 glassy">
  <div class="container">
    <div class="section-title">
      <h2>My Works</h2>
    </div>
    <div >
      <div class="row">
        <div class="col-sm-6" *ngFor="let item of items">
          <div class="card bg-transparent border my-3 " data-aos="fade-up" >
            <div class="card-body">
              <h5 class="card-title t-shadow">{{ item.title }}</h5>
              <p class="card-text">{{ item.text }}</p>
              <a target="_blank" href="{{item.link}}" style="color: white" class="pbutton text-decoration-none">{{ item.buttonText }}</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
